@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    margin: 10px;
}

.card-text:hover {
    color: rgb(112, 189, 231);
}

.card-body {
    font-size: 14px;
    margin: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 0 0 gold, 6px 6px 0 4px black;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}